.weekcard header {
  padding: 2vmin 0 2vmin 0;
  text-align: center; 
  display: block;
  position: relative;
  font-size: calc(6px + 2vmin);
}

.weekcard header::after {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  content: "+";
}

.problematic {
  color: #ffaaaa;
}
