.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1vmin;
    text-align: center;
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 3fr 1fr 7fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "date footballer teams isAway"
      "time footballer teams isAway";
    align-items: center;
  }

  .date {
    grid-area: date;
    font-weight: bolder;
  }

  .time {
    grid-area: time;
  }

  .footballer {
    grid-area: footballer;
    grid-row: span 2;
  }

  .teams {
    grid-area: teams;
    grid-row: span 2;
  }

  .isAway {
    grid-area: isAway;
    grid-row: span 2;
  }