.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(14px + 2vw);
  font-weight: bolder;
  color: white;
}

.header > div {
  display: flex;
  flex-direction: row;
  padding: 0 2vw 0 2vw;
}

.header button span {
  font-size: 8vw;
}

.header img {
  width: 8vw;
}
