@font-face {
  font-family: 'FiraSans';
  src: local('FiraSans'), url(./Fonts/FiraSans/FiraSansCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MaterialIcons';
  src: local('MaterialIcons'), url(./Fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff');
}

.materialicons {
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'FiraSans', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
  color: white;
}

a {
  color:black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#root {
  width: 100%;
}
